// Edited for Threads Theme

.header-logo {
    text-align: center;
	display: inline-block;

	@media (max-width: $screen-xs-min) {
		max-width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;
	}
}

.header-logo-image {
	width: 100%;
	vertical-align: middle;
	@media (max-width: $screen-sm-min) {
		max-width: 50%;
	}

}

@supports (-moz-appearance:none) {
      .header-logo-image {
          height:46px;
      }
}

.header-logo-sitename {}
