/* Edited for Threads Theme */

.home {
    @extend .container;
    @include site-max-width-container;
}

.home-banner-top-message {
    @extend .message-info;
    @extend .message-large;
}

.home-slider-container {
    margin-bottom: $sc-margin-lv4;

    @media (min-width: $screen-sm-min) {
        margin-bottom: $sc-margin-lv1;
    }
}

.home-image-slider {
    position: relative;

    @media (max-width: $screen-sm-min) {
        padding: 0;
    }
}

// HOME INFOBLOCKS SECTION
.home-infoblock-container {
    padding-left: $sc-padding-lv1;
    padding-right: $sc-padding-lv1;
    margin-bottom: $sc-margin-lv8;
}

.home-infoblock-list {
    display: flex;
    flex-wrap: wrap;
}

.home-infoblock-list-item {
    flex: 1 0 48%;
    margin: $sc-margin-lv1 $sc-margin-lv1 0;

    @media (min-width: $screen-md-min) {
        flex: 1 4 $sc-home-infoblock-cell-desktop-width;
    }
}

.home-infoblock-cell-link {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;

    text-align: center;

    &:hover {
        .home-infoblock-cell-image {
            opacity: 0.5;
            @include transform(scale(1.05));
        }
    }
}

.home-infoblock-cell {
    //height: $sc-home-infoblock-cell-height;
    overflow: hidden;
    @include transform(scale(1));
    -webkit-backface-visibility: hidden;
}

.home-infoblock-cell-image {
/*    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;*/
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include transform(scale(1));
    @include transition(all 500ms ease-in-out);
    -webkit-backface-visibility: hidden;
}

.home-infoblock-content-container {
/*    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    padding: $sc-padding-lv4;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: $sc-home-infoblock-cell-content-alignment;

}

.home-infoblock-content {}

.home-infoblock-title {
    color: $sc-home-infoblock-title-color;
    text-transform: $sc-home-infoblock-title-text-transform;
    font-size: $sc-home-infoblock-title-font-size;

}

.home-infoblock-main-title,
.shop-by-brand-title {
    font-size: 40px;
    color: #000;
    font-weight: $sc-font-weight-light;
    margin-bottom: $sc-margin-lv4;
}

.home-infoblock-text {
    color: $sc-home-infoblock-text-color;
    font-size: $sc-home-infoblock-text-color;
}

// END INFOBLOCKS SECTION

// HOME FREETEXT SECTION
.home-freetext-container {
    @extend .container;
    text-align: center;

    @media (max-width: $screen-sm-min) {
        padding: 0 10%;
    }
}

.home-freetext-title {
    font-weight: 200;
    font-size: 52px;
    text-transform: uppercase;
}

.home-freetext-subtitle {
    font-weight: 200;
    font-size: 22px;
    margin: $sc-margin-lv1 0 $sc-margin-lv4;
}

.home-freetext-divider {
    display: $sc-home-freetext-divider-display;
    width: 50%;
    height: 2px;
    background-color: $sc-color-secondary;

    @media (min-width: $screen-md-min) {
        width: 13%;
    }
}

.home-freetext-text {
    @extend p;
    margin: $sc-margin-lv4 auto;
    @media (min-width: $screen-sm-min) {
        max-width: 60%;
    }
}

.home-freetext-link {
    @extend .button-secondary;
    @extend .button-large;
    background-color: transparent;
    border: 1px solid $sc-color-theme-border;
    color: $sc-color-copy;

    @media (max-width: $screen-sm-min) {
        width: auto;
    }
}

// END FREETEXT SECTION

.home-merchandising-zone {
    .merchandising-zone {
        border: 0;
    }
    .merchandising-zone-title {
        display: none;
    }
    .item-cell-main-image {
        margin: 0 auto;
        width: $img-medium;
    }
}

.home-merchandizing-zone {}

.home-image-slider-list {}

.cms-content-text h1,
.cms-content-text h2,
.cms-content-text h3 {
    @extend .product-slider-title;
}

// fix to center align slider
.item-relations-correlated-row,
.item-relations-related-row,
.recently-viewed-items {
  .bx-wrapper {
    margin: auto;
  }
}

.home-main-sub-banner {
    margin-bottom: $sc-margin-lv4;
    padding: 0 $sc-padding-lv8;
    height: 460px;
    display: flex;
    align-items: center;
    .info {
        h4 {
            font-size: 40px;
            color: $sc-color-copy;
            font-weight:$sc-font-weight-bold;
        }
        p {
            font-size: 20px;
        }
    }
}

.brand-box {
    display: flex;
    background: $sc-footer-upper-section-background-color;
    align-items: center;
    @media (max-width: $screen-sm-min) {
        display: block;
        margin-bottom:$sc-padding-lv4;
    }
    > div {
        padding: $sc-padding-lv4 $sc-padding-lv2;
        text-align: center;
        flex:2;
        &:first-child {
            flex:3;
        }
    }
    .btn {
        font-weight: $sc-font-weight-normal;
    }
}
.home h1.invisible{display: none;}